<footer>
    <section class="contact-us">
        <h2>Contact Us</h2>
        <p>Have questions or need help? Reach out to us:</p>
        <ul>
            <li>Email: <a href="mailto:vaibhavkatkar.co@gmail.com">vaibhavkatkar.co@gmail.com</a></li>
            <li>Follow Us: <a href="https://linkedin.com/in/vaibhavkatkar">LinkedIn</a></li>
        </ul>
        <p class="footer-copy">© 2025 Pool Maker. All Rights Reserved.</p>
    </section>
</footer>