<nav class="nav">
    <div id="logo">
      <img id="logo_image" src="/assets/polling.png" href="/" alt="Polling Logo">
     
    </div>
    <a ><span style="font-family:'Times New Roman', Times, serif;color: black;text-decoration: none;font-style: italic;">Start polling, start leading the conversation!</span></a>
    <div>
        <a id="ahome" href="/">Home</a>
        <a id="dashboard" href="/dashboard">Dashboard</a>
        <a href="/blog">Blog</a>
        <a href="/feedback">Feedback</a>
        <!-- <a href="#">Login</a> -->
    </div>
    <script>
        document.querySelector("#logo_image").addEventListener("click",()=>{
            window.location.href="/";
        })
        
    </script>
</nav>